<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/../qfc-dark.css">
  <!-- <link rel="stylesheet" href="qfc-light.css"> -->

</head>

<body>
  <div class="qfc-container">
    <h2>Form for services and support </h2>
<label style="text-align:center; color:#85144b;" >LET'S CREATE BY OWN</label>
    <form action="/showskill/<%=skill._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
		
		  
		  <h3 style="text-align:center; color:#85144b;">
				services and support
		</h3>
		<div>
		
		   <div>
            <input placeholder="Name of Services and support " type="text" value="<%=skill.title%>" name="skill[title]" required>
        </div>
		   <div>
			    <label for="image">Image</label>
            <input placeholder="Image of skill " value="<%=skill.image%>" id="image"type="file" name="image" accept="image/*">
        </div>
		   <div>
            <input placeholder="Details of services and support "value="<%=skill.body%>" type="text" name="skill[body]" required>
        </div>

	 
		  <div>
          <button type="submit">Submit</button>
        </div>
		  
        	
		</div>
	  </form></div></body>
<div style="padding-bottom:15px; font-family: 'Roboto';color:white;" align="center">
  made with <span style="color:#e25555;">PASSION</span> by <a target="_blank" href="https://twitter.com/siwalik">RAUSHAN</a> and the <a target="_blank" href="https://github.com/siwalikm/quick-form-css/graphs/contributors">internet</a></div>
<style>
  a {
    color :#00bcd4;
    text-decoration: none;
  }
</style>
</html>
