<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="qfc-dark.css">
  <!-- <link rel="stylesheet" href="qfc-light.css"> -->

</head>

<body>
  <div class="qfc-container">
    <h2>Portfolio Form For Owner's Achievement Detail </h2>
<label style="text-align:center; color:#85144b;" >LET'S CREATE BY OWN</label>
    <form action="/skill" method="POST"  enctype="multipart/form-data">>
		
		  
		  <h3 style="text-align:center; color:#85144b;">
			Achievement Details
		</h3>
		<div>
		
		   <div>
            <input placeholder="Name " type="text" name="title" required>
        </div>
		   <div>
			    <label for="image">Image</label>
            <input placeholder="Image of ACHIEVEMENT " id="image"type="file" name="image" accept="image/*" required>
        </div>
		   <div>
            <input placeholder="Details " type="text" name="body" required>
        </div>

	 
		  <div>
          <button type="submit">Submit</button>
        </div>
		  
        	
		</div>
	  </form></div></body>
<div style="padding-bottom:15px; font-family: 'Roboto';color:white;" align="center">
  made with <span style="color:#e25555;">PASSION</span> by <a target="_blank" href="https://twitter.com/siwalik">RAUSHAN</a> and the <a target="_blank" href="https://github.com/siwalikm/quick-form-css/graphs/contributors">internet</a></div>
<style>
  a {
    color :#00bcd4;
    text-decoration: none;
  }
</style>
</html>
